@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Outfit:wght@100..900&display=swap"); */

a.active hr {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 600px) {
  a.active {
    background-color: black;
    color: white;
  }
}
